In [7]:
# Importing dependencies 
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
%matplotlib inline
import seaborn as sns

In [545]:
data = pd.read_csv('testfile.csv')

In [590]:
# Importing the dataset 
# Function for importing data into python
# Returns a Dataset object if valid extension 
def import_dataset(filename, headerfile = '', first_row_as_headers = False):
    
    
    # Checking whether a text file for names has been added, and if so, create list of names 
    header_list = []
    
    if '.txt' in headerfile.lower():
        print('Text File inputted')
        x = 'Yes'
    elif len(headerfile) < 1:
        print('No text file for names added')
        x = 'No'
    else:
        print('Please enter Text File')
        x = 'No'
        
    try:
        if 'Yes' in x: 
            with open(headerfile, 'r') as f: 
                lines = f.readlines()
                for i in lines: 
                    header_list.append(i.replace(',', '').replace('\n', '').replace(' ', ''))    
                print('Header List successfully created')
        elif 'No' in x: 
            print('No names file added')
    except:
        print('Error with text file')

    # Checking and importing CSV File              
    if '.csv' in filename: 
        print(f'{filename} is a .csv file')
        if len(headerfile) >= 1: 
            if 'Yes' in x:
                print('Header file added to column names')
                return pd.read_csv(filename, sep = None, names = header_list, engine = 'python', header = None)
            elif 'No' in x:
                if first_row_as_headers == False: 
                    print('If inputted header file, not added')
                    return pd.read_csv(filename, sep = None, engine = 'python', header = None)
                elif first_row_as_headers == True: 
                    print('First row added as headers')
                    df = pd.read_csv(filename , sep = None, engine = 'python', header = None)
                    df.columns = df.iloc[0] 
                    return df
        elif first_row_as_headers == False: 
             print('No header file added')
             return pd.read_csv(filename, sep = None, engine = 'python', header = None)
        else:
             print('No header file added - first row as column names')
             df = pd.read_csv(filename , sep = None, engine = 'python', header = None)
             df.columns = df.iloc[0] 
             return df[1:]   
        
    elif '.xlsx' in filename: 
            print(f'{filename} is a .xlsx file')
            if len(headerfile) >= 1: 
                 if 'Yes' in x:
                    print('Header file added to column names')
                    return pd.read_excel(filename, names = header_list, header = None)
                 elif 'No' in x:
                    if first_row_as_headers == False: 
                        print('If inputted header file, not added')
                        return pd.read_excel(filename, header = None)
                    elif first_row_as_headers == True: 
                        print('First row added as headers')
                        df = pd.read_excel(filename, header = None)
                        df.columns = df.iloc[0] 
                        return df
            elif first_row_as_headers == False: 
                print('No header file added')
                return pd.read_excel(filename, header = None)
            else:
                print('No header file added - first row as column names')
                df = pd.read_excel(filename , header = None)
                df.columns = df.iloc[0] 
                return df[1:]
            
            
    elif '.data' in filename: 
             print(f'{filename} is a .data file')
             if len(headerfile) >= 1: 
                if 'Yes' in x:
                    print('Header file added to column names')
                    return pd.read_csv(filename, sep = None, names = header_list, engine = 'python', header = None)
                elif 'No' in x:
                    if first_row_as_headers == False: 
                        print('If inputted header file, not added')
                        return pd.read_csv(filename, sep = None, engine = 'python', header = None)
                    elif first_row_as_headers == True: 
                        print('First row added as headers')
                        df = pd.read_csv(filename , sep = None, engine = 'python', header = None)
                        df.columns = df.iloc[0] 
                        return df
             elif first_row_as_headers == False: 
                print('No header file added')
                return pd.read_csv(filename, sep = None, engine = 'python', header = None)
             else:
                print('No header file added - first row as column names')
                df = pd.read_csv(filename , sep = None, engine = 'python', header = None)
                df.columns = df.iloc[0] 
                return df[1:]

In [592]:
import_dataset('adult.data', headerfile='names.txt', first_row_as_headers=False)

Text File inputted
Header List successfully created
adult.data is a .data file
Header file added to column names

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [268]:
import_dataset('testfile.csv')

No Headerfile Entered
testfile.csv is a csv file

      index  age     sex     bmi  children smoker     region      charges
0         0   19  female  27.900         0    yes  southwest  16884.92400
1         1   18    male  33.770         1     no  southeast   1725.55230
2         2   28    male  33.000         3     no  southeast   4449.46200
3         3   33    male  22.705         0     no  northwest  21984.47061
4         4   32    male  28.880         0     no  northwest   3866.85520
...     ...  ...     ...     ...       ...    ...        ...          ...
1333   1333   50    male  30.970         3     no  northwest  10600.54830
1334   1334   18  female  31.920         0     no  northeast   2205.98080
1335   1335   18  female  36.850         0     no  southeast   1629.83350
1336   1336   21  female  25.800         0     no  southwest   2007.94500
1337   1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 8 columns]

In [265]:
def sum_func(num1, num2): 
    try: 
        print('num1' + num2)
    except: 
        print('Hey')

In [266]:
sum_func(10,20)

Hey